# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved
/appdb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm

# Carthage
Carthage/Checkouts
Carthage/Build
/Cartfile.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets / credentials
*.secret
*.secrets
.env
.env.*

# Project-specific
/.gitattributes
/exportOptions.plist
/install
/AppDB.sketch
/nanopb.xcframework
/GoogleUtilities.xcframework
/GoogleMobileAds.framework
/GoogleAppMeasurement.framework
/PromisesObjC.xcframework
